body {
    padding-top: 5rem;
    }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
    }
   .home {
       padding-right: 3.5rem !important;
   }
    #new {
        background: #007bff;
        color: white;
        border-radius: .25rem;
   }
   footer {
       margin-bottom: 0;
       margin-top: 20%;
   }
